*,::before,::backdrop{
  box-sizing: border-box;
}
html{
  height: 100%;
}
body {
  margin: 0;
  color: #fff;
  display: flex;
 justify-content: center;
 align-items: center;
 height: 100%;
}
.user-details-section{
  display: flex;
  gap: 12px;
  align-items: center;
}
.shared-layout{
  max-width: 360px;
  background-color: #1C1B1B;
  height: 800px;
}
.avatar{
  flex: 1;
  width: 60px;
  height: 60px;
  background-color: #D9D9D9;
  border-radius: 50%;
}
.user-details{
  flex:2;
}
.notifications{
  flex:1;
}

